// SCSS Variables
$font-family: 'Bai Jamjuree', sans-serif;
$fon-siz: 18px;
$ios-cr:  hsl(171, 66%, 44%);
$mac-cr: hsl(233, 100%, 69%);
$para-cr: hsl(201, 11%, 66%);
$text-cr-1: hsl(210, 10%, 33%);
$footer-clr: whitesmoke; 
$fons375h2: 1.7rem;
$para375: 1rem;
$fonsi375h1: 2.1rem;
$para375h1: 17.50px;